.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  text-align: center;
  color: #fff;

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Define 3 colunas fixas
    grid-gap: 1rem;
    width: 100%;
    padding: 1rem;
  }
}
