<header class="header">
  <div class="logoBox">
    Login System Learning
  </div>
  <div class="userInfos">
    <small>{{userLogged.email}}</small>
    <img title="{{userLogged.email}}" src="/image.png" alt="User">
    <img (click)="logout()" src="/logout.png" alt="Logout">
  </div>
</header>
<main class="main">
  <aside class="aside">
    <nav class="nav">
      <ul>
        <li>
          <span class="markBall {{moduleActive == 'home' ? 'show' : ''}}"></span>
          <button (click)="changeRouteModule('home')" class="navButton" routerLink="">Home</button>
        </li>
        <li>
          <span class="markBall {{moduleActive == 'employees' ? 'show' : ''}}"></span>
          <button (click)="changeRouteModule('employees')" class="navButton" routerLink="/employees">Employees</button>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

