.card{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    color: #000;
    margin: 0 auto;

    .card-header{
        background-color: #27293D;
        color: #fff;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    .card-body{
      p{
        margin: 10px 0;
        border-bottom: 1px solid #ccc;
      }
    }

    .card-footer{
        background-color: #27293D;
        color: #fff;
        padding: 10px;
        border-radius: 0 0 5px 5px;
        display: flex;
        justify-content: space-between;
    }
}
